@media(max-width: 1400px)
html{
  font-size:12px;
}
@media(max-width: 1300px)
html{
  font-size:10px;
}
@media(max-width: 1200px)
html{
  font-size:10px;
}
@media(max-width: 800px)
html{
  font-size:8px;
}
@media(max-width: 600px)
html{
  font-size:10px;
}
/*a{
  z-index: 10;
}*/
.topnav{
  right: 3rem;
}
.cont{
  margin-right: 14rem;
}
.img1{
  margin-left: 4rem;
}
.o{
  margin: 5rem 9rem 0;
}
h1{
  margin-top: 5rem;
}
body{
	font-size: 1.2rem;
  margin: 0;
  background-color: #090c0f;
}
.cont{
  margin-left: -3rem;
}


.contactus{
display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;

  -webkit-animation: fadeEffect 2s;
    animation: fadeEffect 2s;
  
}

.top-link{
  z-index: 2;
}
h1{
	color: #fff;
	text-align: center;
	font-family:'hind',sans-serif;
	font-weight: ;
  font-size: 2.8rem;
  letter-spacing: 0.2rem;

     -webkit-animation: fadeEffect 2s;
    animation: fadeEffect 2s;

}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


.heading{ 
	font-size: 1.2rem;
	color: #fff;
	margin-bottom: 2rem;
	font-family:'raleway',sans-serif;
	font-weight:100;
	letter-spacing:0.15rem;
}
button{
	height:2.5rem;
	width: 9rem;
	background-color:#090c0f;
	color: #f7f7f7;
	border-color: #44abc4;
  font-family: raleway;
 margin-top: 0.7rem;
}
button:hover{
	cursor: pointer;
}
.msg{
	margin: 1rem 2.5rem;
}
.cont{
	margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 5.5rem;
}
input{
	margin: 0.6rem 0;
	padding: 0.8rem;
	width: 19rem;
  height: 0.8rem;
	background-color: #131c23;
	color: #fff;
	font-family: 'raleway', sans-serif;
	font-weight: lighter;
	border:none;
}
textarea{
	margin: 0.5rem 0;
	padding: 0.4rem 0.8rem;
	color: #f7f7f7;
	border:none;
	font-family: 'raleway', sans-serif;
	font-weight: lighter;
	background-color: #131c23;
}
p{
	color: #f7f7f7;
	font-family:'raleway',sans-serif;
	font-weight: 50;
	font-size: 0.9rem;
	line-height: 1.4rem;
	letter-spacing: 0.08rem;
  /*margin-top: 2rem;*/

}
::placeholder{
	color: #f7f7f7;
	font-family:'raleway',sans-serif;
	font-size: 0.7rem;
	line-height: 26.4px;
}
span{
	border-bottom: 0.15rem solid #44abc4;
	padding-bottom: 0.6rem;
	}

.heading1{ 
	font-size: 1.3rem;
	color: #fff;
	margin-bottom: 1.5rem;
	font-family:'raleway',sans-serif;
	font-weight:100;
	letter-spacing:0.15rem;
}

.topnav {
  overflow: hidden;
  
  top: 1.2rem;
  width: 60%;
  position: absolute;
  z-index: 0;
}

.topnav a {
  float: right;
  display: block;
  color: #f7f7f7;
  text-align: center;
  padding: 14px 0;
  margin: 0 20px;
  text-decoration: none;
  font-size: 0.85rem;
  font-family: raleway;
  letter-spacing: 0.1px;
}

.topnav .icon {
  display: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 0.85rem;    
    font-family: raleway;
    border: none;
    outline: none;
    color: #f7f7f7;
    width: 4rem;
    background-color: inherit;
    margin-bottom:05px;
    padding: 0.9rem 0rem 2rem;
    margin: 0 1.5rem;
}

.dropdown-content {
    display: none;
    position:fixed;
    background-color: #f7f7f7;
    min-width: 166px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    color: #000;
}

.dropdown-content a {
    float: none;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-bottom: 0px;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-left: 7rem;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {
    position: relative;
   width: 82%;
    left: -39px;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
     width: 19%;
    text-align: left;
    margin-left: 7rem;
  }
   .foot1{
    width: 100%;
    padding-left: 3rem;
  }
.foot2-1{
    width: 100%;
    margin: 0;
  }
.foot2-2{
    width: 100%;
    margin: 0;
  }
.foot2-3{
    width: 100%;
    padding-left: 3rem;
    margin: 0;
  }
}
.img1{
  width:12%;
  margin-top: 1.6rem;
  z-index: 12;
}
@media(min-width: 800px){
  .img1{
    margin-left: 8rem;
  }
  .topnav{
    right: 5rem;
  }
  .o{
     margin: 5rem 15rem 0em;
  }
  h1{
    margin-top: 10rem;
  }
  .dropdown-content a:hover {
    color: #44abc4;
    border-bottom: none;
}
.dropbtn:hover{
  border-bottom: 5px solid #44abc4;
}
.active, .topnav a:hover{
  border-bottom: 3px solid #44abc4;
}

.cont{
  margin-left: 5.5rem;
}

.foot1{
    width: 25%;
  }
.foot2-1{
    width: 19%;
  }
.foot2-2{
    width: 19%;
  }
.foot2-3{
    width: 13%;
    padding-left: 0;
  }

}

@media(min-width: 600px){
  .cont{
    margin-left: 4rem;
  }
}
.img{
  font-size: 3.5rem;
}

#footlink{
  color: #000000b3;
  text-decoration: none;
}
#footlink:hover{
  text-decoration: none;
  color: #44abc4;
}
h3{
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #090c0f;
}
.footlink{
  margin-bottom: 2rem;
  border-bottom: 0;
  text-decoration: none;
}
.footadd{
  font-size: 0.9rem;
}
.foot1{
  padding-left: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 7rem;
  
}
.foot2-2{
  padding-left: 3rem;
  margin-top: 5rem;
  line-height: 1.3rem;
  font-family: raleway;
  
}
.foot2-1{
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 0;
  line-height: 1.3rem;
  font-family: raleway;
}
.foot2-3{
  margin-top: 5rem;
  line-height: 1.3rem;
  font-family: raleway;
  padding-left: 4rem;
  
}
.footer{
  max-width: 100%;

}
.footer p{
  align-self: center;
  letter-spacing: 0.7px;
  line-height: 20px;
  font-size: 1.1rem;
  font-size: 1rem;
  margin-top: 0;
  color: #000000b3;
}

.footer{
  margin: 0;
  padding: 0;
  margin-left: 0rem;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5rem;
}
.image-footer{
  width:100%;
  height: auto;
}
.add{
  display: flex;
}
.add2{
  padding-left: 2rem;
}
.ad{
  padding-left: 1rem;
}